<div class="langs">
    <ul>
        <li onclick="window.location='/'+'de'+window.location.pathname.slice(3)"><a>DE</a></li>
        <li onclick="window.location='/'+'en'+window.location.pathname.slice(3)"><a>EN</a></li>
    </ul>
</div>