<div id="startModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleToModify">
                    Editor
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h4>
                    Bedienungsanleitung
                </h4>
                <ul style="text-align: left;">
                    <li>Figuren oder Chips um das Brett herum auswählen</li>
                    <li>Deine aktuelle Auswahl wird im Fenster links angezeigt</li>
                    <li>Sobald eine Auswahl getroffen wurde kannst du auf dem Brett auf Felder klicken und dort wird die entsprechende Figur/Chip erstellt!</li>
                    <li>Du kannst bereits platzierte Figuren/Chips mit neu ausgewählten überschreiben</li>
                    <li>Zum Löschen einfach die Auswahl leeren (rotes X-Symbol unter der Auswahl) und auf das zu leerende Feld klicken</li>
                    <li>Wenn dir das Level gefällt, einfach links in der Seitenleiste Name, Beschreibung etc. eintragen und auf Speichern klicken!</li>
                </ul>
                <button type="button" class="btn btn-success btn-lg" onclick="startEditor();">Start!</button>
            </div>
            <div class="modal-footer">
                Hier kannst du eigene Level erstellen!
            </div>
        </div>
    </div>
</div>