<div id="yieldedModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <%= name %>
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h3>
                    Du hast das Level aufgegeben.
                </h3>
                <button type="button" class="btn btn-warning btn-lg" onclick="window.location ='/';">Zurück zum Menü</button>
                <button type="button" class="btn btn-success btn-lg" onclick="window.location.reload();">Nochmal spielen</button>
            </div>
        </div>
    </div>
</div>