<div id="startModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <%= name %>
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h3 id="lvlDescr">
                    <% if (type == 'GLOBAL') {%>
                        Bitte warte auf deinen Gegner.
                    <% } else  { %>
                        <%= descr %>
                    <% } %>
                </h3>
                <% if (type == 'SP') { %>
                    <button type="button" class="btn btn-success btn-lg" onclick="startGame();">Start!</button>
                <% } else if (type == 'GLOBAL') { %>
                    <center>
                        <div class="loader"></div>
                    </center>
                <% } else { %>
                    <form>
                        <% if (subtype == 'king') { %>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gameMode" value="unbeatable" checked>Figuren nicht schlagbar
                                </label>
                            </div>
                            <div class="radio">
                                <label data-toggle="tooltip" title="Könige können sich nicht gegenseitig schlagen!">
                                    <input type="radio" name="gameMode" value="beatable" disabled>Figuren schlagbar
                                </label>
                            </div>
                        <% } else { %>
                            <div class="radio">
                                <label><input type="radio" name="gameMode" value="unbeatable">Figuren nicht schlagbar</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gameMode" value="beatable">Figuren schlagbar
                                </label>
                            </div>
                        <% } %>
                        <button type="button" class="btn btn-success btn-lg" onclick="loadAndRegisterLocal('checkFromRadio', startGame);">Start!</button>
                    </form>
                <% } %>
            </div>
            <div class="modal-footer">
                <%= footer %>
            </div>
        </div>
    </div>
</div>