<div id="impressum" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Impressum</h4>
            </div>
            <div class="modal-body">
                <a href="http://www.schach-fuer-kids.de/">
                    <img src="../img/logoSm.png" height="150px">
                </a>
                <h3>
                    Chipschach© ist eine Software der pädagogischen Initiative Schach für Kids e.V. (SfK), erstellt in Kooperation mit der IBM Deutschland GmbH
                </h3>
                <ul>
                    <li>Initiator: Ralf Schreiber, SfK</li>
                    <li>Leitung: Peter Kusterer, IBM</li>
                    <li>Programmierung: Simon Müller, IBM</li>
                    <li>Programmierung: Oliver Berg, IBM</li>
                </ul>
            </div>
            <div class="modal-footer">
                Weitere Informationen unter <a href="http://www.schach-fuer-kids.de">schach-fuer-kids.de</a> <br>
                Kontakt: <a href="mailto:chipschach@schach-fuer-kids.de?Subject=Anfrage" target="_top">chipschach@schach-fuer-kids.de</a>
            </div>
        </div>
    </div>
</div>