<div id="rulesModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Spielregeln für Chipschach
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h4>
                    <ul>
                        <li>Gelbe Chips können vom blauen Spieler geschlagen werden aber nicht vom gelben, gleiches gilt für blaue Chips nur umgekehrt</li>
                        <li>Grüne Chips können von beiden Spielern geschlagen werden, rote Chips können von niemandem geschlagen werden<li>
                        <li>zum Schlagen muss man eine eigene Figur auf das Feld eines schlagbaren Chips bewegen</li>
                        <li>Chips und Figuren dürfen nicht übersprungen werden, die "stehen im Weg"</li>
                        <li>das Spiel endet sobald ein Spieler keine Chips mehr zum schlagen hat oder alle seine Figuren geschlagen wurden</li>
                        <li>es gewinnt derjenige der zum Ende des Levels mehr Chips gesammelt hat (Außnahme: wenn man alle gegnerischen Figuren geschlagen hat gewinnt man immer)</li>
                    </ul>
                </h4>
                <button type="button" class="btn btn-success btn-lg" onclick="startGame();">Ok</button>
            </div>
            <div class="modal-footer">
                Die Zusatz-Regeln von Chipschach sollen so ähnlich wie möglich zum Original-Schachspiel sein. Chips sind "neutrale" Figuren die von keinem Spieler bewegt werden dürfen. Wer erfolgreicher die Chips einsammelt, gewinnt am ende! 
            </div>
        </div>
    </div>
</div>