<div id="body-container">
    <!-- Seitenleiste links -->
    <!--<div id="nav"><img src="../img/close.png" title="abmelden" height="75px" class="navicon" id="close"></div>-->

    <div class="table" >
        <div class="row" *ngFor="let row of iconArrangement">
            <template ngFor let-icon [ngForOf]="row">
                <a *ngIf="icon?.id?.length" data-toggle="modal" [attr.data-target]="'#' + icon.id" 
                    [ngStyle]="{'background-image': 'url(../img/' + icon.picId + '.png)', 'background-color': 'white'}">
                    <p>{{icon.name}}</p>
                </a>
                <a *ngIf="!icon?.id?.length" [ngStyle]="{'cursor': 'default'}"></a>
            </template>
            
        </div>
    </div>
</div>

<!-- Modals: sp, mp (for local), mini -->
<template ngFor let-type [ngForOf]="getTypes()">
    <div id="{{type}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{dictIconNames[type]}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" [id]="'acc_' + type">

                        <div *ngFor="let subtype of getSubtypes(type)" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" [attr.data-parent]="'#acc_' + type" 
                                        [href]="'#' + type + subtype"> {{dictSubtypes[subtype]}} </a>
                                </h4>
                            </div>
                            <div [id]="'' + type + subtype" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p *ngFor="let lvl of allAvailLvls[type][subtype]">
                                        <a [routerLink]="type + '/' + lvl._id" routerLinkActive="active">
                                            {{lvl.name}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div> 
     
                    </div>
                </div>
                <div class="modal-footer">
                    Wähle ein Mehrspieler-Level aus um gegen einen Freund am gleichen Rechner Problemstellungen zu lösen.
                </div>
            </div>
        </div>
    </div>
</template>


<!-- Modal: Impressum -->
<div id="impressum" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Impressum</h4>
            </div>
            <div class="modal-body">
                <a href="http://www.schach-fuer-kids.de/">
                    <img src="../img/logoSm.png" height="150px">
                </a>
                <h3>
                    Chipschach© ist eine Software der pädagogischen Initiative Schach für Kids e.V. (SfK), erstellt in Kooperation mit der IBM Deutschland GmbH
                </h3>
                <ul>
                    <li>Initiator: Ralf Schreiber, SfK</li>
                    <li>Leitung: Peter Kusterer, IBM</li>
                    <li>Programmierung: Simon Müller, IBM</li>
                    <li>Programmierung: Oliver Berg, IBM</li>
                </ul>
            </div>
            <div class="modal-footer">
                Weitere Informationen unter <a href="http://www.schach-fuer-kids.de">schach-fuer-kids.de</a> <br>
                Kontakt: <a href="mailto:chipschach@schach-fuer-kids.de?Subject=Anfrage" target="_top">chipschach@schach-fuer-kids.de</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal: Close -->
<!-- <div id="close" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zeit zu gehen</h4>
            </div>
            <div class="modal-body">
                <a href="http://www.schach-fuer-kids.de/">
                    <img src="../img/logoSm.png" height="150px">
                </a>
            <div class="modal-footer">
                Klicke auf das Logo um zur Schach-für-Kids Webseite zu gelangen
            </div>
        </div>
    </div>
</div> -->
