<div id="body-container">
    <!-- Seitenleiste links -->
    <!--<div id="nav"><img src="../img/close.png" title="abmelden" height="75px" class="navicon" id="close"></div>-->
    <div class="table">
        <div class="row">
            <a href="#" data-toggle="modal" data-target="#single"
               [ngStyle]="{'background-image': 'url(../img/single.png)', 'background-color': 'white'}">
                <p>Einzelspieler</p>
            </a>
            <a href="#" data-toggle="modal" data-target="#multiLocal"
               [ngStyle]="{'background-image': 'url(../img/multi_lokal.png)', 'background-color': 'white'}">
                <p>Mehrspieler lokal</p>
            </a>
            <!--<a href="#" data-toggle="modal" data-target="#multiGlobal"-->
               <!--[ngStyle]="{'background-image': 'url(../img/multi_global.png)', 'background-color': 'white'}">-->
                <!--<p>Mehrspieler global</p>-->
            <!--</a>-->
            <a href="#"
               [ngStyle]="{'background-image': 'url(../img/multi_global.png)', 'background-color': 'purple'}">
                <p>Mehrspieler global</p>
            </a>
        </div>
		
        <div class="row">
            <a href="#" data-target="modal" data-toggle="#mini"
               [ngStyle]="{'background-image': 'url(../img/minischach.png)', 'background-color': 'white'}">
                <p>Minischach</p>
            </a>
            <a href="#" data-toggle="modal" data-target="#notice"
               [ngStyle]="{'background-image': 'url(../img/logo_large.png)', 'background-size': '170px 190px'}"></a>
            <a href="#" data-toggle="modal" data-target="#classic"
               [ngStyle]="{'background-image': 'url(../img/classicchess2.png)', 'background-color': 'white'}">
                <p>Klassisches Schach</p>
            </a>
        </div>

        <div class="row">
            <a href="#" data-toggle="modal" data-target="#editor"
               [ngStyle]="{'background-image': 'url(../img/editor.png)', 'background-color': 'white'}">
                <p>Editor</p>
            </a>
            <a></a>
            <a href="http://www.schach-fuer-kids.de/"
               [ngStyle]="{'background-image': 'url(../img/close.png)', 'background-color': 'white'}"></a>
        </div>
    </div>
</div>



<!-- Modal: Impressum -->
<div id="notice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Impressum</h4>
            </div>
            <div class="modal-body">
                    <img src="../img/logo_small.png" height="150px">
                    <h3>
                        Chipschach© ist eine Software der pädagogischen Initiative Schach für Kids e.V. (SfK), erstellt in Kooperation mit der IBM Deutschland GmbH
                    </h3>
                    <ul>
                        <li>Initiator: Ralf Schreiber, SfK</li>
                        <li>Leitung: Peter Kusterer, IBM</li>
                        <li>Programmierung: Simon Müller, IBM</li>
                        <li>Programmierung: Oliver Berg, IBM</li>
                    </ul>
            </div>
            <div class="modal-footer">
                Weitere Informationen unter <a href="http://www.schach-fuer-kids.de">schach-fuer-kids.de</a> <br>
                Kontakt: <a href="mailto:chipschach@schach-fuer-kids.de?Subject=Anfrage" target="_top">chipschach@schach-fuer-kids.de</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Singleplayer -->
<div id="single" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Singleplayer Level</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion_single">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_single" href="#single1">Single1</a>
                            </h4>
                        </div>
                        <div id="single1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Jo
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_single" href="#single2">Single2</a>
                            </h4>
                        </div>
                        <div id="single2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Jo22
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_single" href="#single3">Single3</a>
                            </h4>
                        </div>
                        <div id="single3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Jo333
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                Wähle ein Einzelspieler-level aus um Problemstellungen alleine zu lösen.
            </div>
        </div>
    </div>

    <!--<% var names = ["Turm", "Läufer", "Dame", "König", "Springer", "Bauer"]; %>-->
    <!--<% var index = ["rook", "bishop", "queen", "king", "knight", "pawn"]; %>-->
    <!--<% for(var i = 0; i < names.length; i++) { %>-->
    <!--<div> <%= names[i] %> </div>-->
    <!--<div>-->
        <!--<% for(var n = 0; n < sp[index[i]].length; n++) { %>-->
        <!--<p><a href="singleplayer?level=<%= sp[index[i]][n] %>"><%= "Level " + sp[index[i]][n].split("_")[sp[index[i]][n].split("_").length-2] + "." + sp[index[i]][n].split("_")[sp[index[i]][n].split("_").length-1] %></a></p>-->
        <!--<% } %>-->
    <!--</div>-->
    <!--<% } %>-->
    <!--<button type="submit" class="btn btn-warning" id="btn_sp_back">zurück</button>-->
</div>


<!-- Modal: Multiplayer Local -->
<div id="multiLocal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Multiplayer Level (lokal)</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                Wähle ein Multiplayer-level aus um gegen einen Freund am gleichen Rechner Problemstellungen zu lösen.
            </div>
        </div>
    </div>
</div>


    <!--&lt;!&ndash; classicChess - UI &ndash;&gt;-->
    <!--<div id="classicChess" class="display_info">-->
        <!--<p class="heading">Lokal gegen jemanden klassisches Schach spielen:</p>-->
        <!--<p>Noch nicht funktionierende Sonderzüge:-->
            <!--<br />- Bauernumwandlung-->
            <!--<br />- Rochade-->
            <!--<br />- En-Passant-Schlagen-->
            <!--<br />-->
            <!--<br />Desweiteren:-->
            <!--<br />Unentschieden wird noch nicht korrekt abgefangen. Patt, mehrfache Stellungswiederholung u.Ä. wird nicht abgefragt!</p>-->
        <!--<button type="submit" class="btn btn-success" id="btn_classic_continue">Partie starten</button>-->
        <!--<button type="submit" class="btn btn-warning" id="btn_classic_back">zurück</button>-->
    <!--</div>-->

    <!--&lt;!&ndash; Multiplayer_global - UI &ndash;&gt;-->
    <!--<div id="multiplayer_global" class="display_info">-->
        <!--<p class="heading">Gegen andere Spieler im Internet spielen:</p>-->
        <!--<br />-->
        <!--<button type="submit" class="btn btn-success" id="btn_mp_g_continue">Gegner suchen</button>-->
        <!--<button type="submit" class="btn btn-warning" id="btn_mp_g_back">zurück</button>-->
    <!--</div>-->

    <!--&lt;!&ndash; Editor - UI &ndash;&gt;-->
    <!--<div id="editor" class="display_info">-->
        <!--<p class="heading">Ein eigenes Level erstellen:</p>-->
        <!--<p>- Ziehe Chips und Figuren von der rechten Seite auf das Spielfeld</p>-->
        <!--<p>- Du kannst auch bereits bestehende Figuren auf dem Feld ziehen und dadurch kopieren!</p>-->
        <!--<p>- Figuren/Chips kannst du löschen, indem du auf sie klickst</p>-->
        <!--<button type="submit" class="btn btn-success" id="btn_edit_continue">Editor öffnen</button>-->
        <!--<button type="submit" class="btn btn-warning" id="btn_edit_back">zurück</button>-->
    <!--</div>-->

<!--<div id="errorInfo">-->
    <!--<h1>Fenster ist zu klein</h1>-->
<!--</div>-->
