.board-labels {
    position: absolute;
}
.bl-top, .bl-bottom {
    width: 85vmin;
    height: 5vmin;
}
.bl-right, .bl-left{
    width: 5vmin;
    height: 85vmin;
}
.board-labels > div {
    float: left;
    text-align: center;
    font-size: 4vmin;
    color: midnightblue;
}
.bl-top > div, .bl-bottom > div {
    width: 10.625vmin;
    height: 5vmin;
    line-height: 5vmin;
}
.bl-right > div, .bl-left > div {
    width: 5vmin;
    height: 10.625vmin;
    line-height: 10.625vmin;
}

#board-container {
    display: none;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 95vmin;
    height: 95vmin;
    padding: 5vmin;
    z-index: 10;
    background-color: white;
}

#board-anchor {
    position: absolute;
    background: url("/img/board.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 85vmin;
    width: 85vmin;
    z-index: 20;
}
