/* Implemented by all pages */

.modal {
    overflow-y: auto;
    max-height: 100%;
}

.modal-body > h3 > p {
    display: none;
}
.modal-body > ul > li {
    text-align: left;
}

.panel-heading {
	text-align: center;
}