body {
    height: 100%;
    font-family: "Arial Rounded MT Bold", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
    min-width: 1460px;
}

a:active, a:focus{
    ie-dummy: expression(this.hideFocus=true);
    outline: none;
}

/* sidebar */
#wrapper #sidebar-wrapper {
    background: url('/img/muster.png');
    background-size: 20px;
}

.nav-container {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.profile-container {
    position: relative;
    margin: 10px auto;
    display: block;

    width: 150px;
    height: 160px;
    padding: 20px;

    background-color: white;
    text-align: center;
}
.profile-container img {
    width: 110px;
    height: 120px;
}

.counter-container {
    position: relative;
    margin: 10px auto;
    display: block;
    width: 125px;
}
.counter-container > img {
    width: 50px;
    height: 50px;
}
.counter-container > div {
    width: 75px;
    height: 50px;
    padding: 5px;
    float: right;
    background-color: white;
    border-radius: 15px;

    font-size: 40px;
    line-height: 1;
    text-align: center;
}

.iconBar {
    top: 50%;
    height: 75px;
    margin-top: -50px;
    text-align: center;
}
.iconBar a, .iconBar img {
    height: 100%;
}

/* content */
#sidebar_toggle {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background: url(../../img/menu.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
}

#board-layer-behind {
    margin: auto;
}
#board-anchor {}

/* error */
#errorInfo {
    position: absolute;
    left: 0; right: 0;
    margin: 150px auto;
    width: 500px;
    height: 500px;
    text-align: center;

    display: none;
}