.modal {
    overflow-y: auto;
    max-height: 100%;
}

/* Loading animation in Global Multiplayer when waiting for partner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* contentshow */

.turnIndicator {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;    
    display: none;
}

/* modals */

.modal-body > h3 > p {
    display: none;
}

#modalOverlay {
    z-index: 420 !important;
}