body {
    font-family: "Arial Rounded MT Bold", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
}

/* Loading animation in Global Multiplayer when waiting for partner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* sidebar */

#nav {
    position: fixed;
    display: block;
    padding: 10px;
    left: -250px;
    background: rgba(255, 255, 255, .7);
    height: 100%;
    width: 250px;
    z-index: 200;
}

#btn_menu {
    position: absolute;
    right: -65px;
    top: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background: url(../../img/menu.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
}

.nav-container {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.profile-container {
    position: relative;
    margin: 10px auto;
    display: block;

    width: 150px;
    height: 160px;
    padding: 20px;

    background-color: white;
    text-align: center;
}
.profile-container img {
    width: 110px;
    height: 120px;
}

.counter-container {
    position: relative;
    margin: 10px auto;
    display: block;
    width: 125px;
}
.counter-container > img {
    width: 50px;
    height: 50px;
}
.counter-container > input {
    width: 75px;
    height: 50px;
    padding: 5px;
    float: right;
    background-color: white;
    border-radius: 15px;

    font-size: 40px;
    line-height: 1;
    text-align: center;
}

.iconBar {
    top: 50%;
    height: 75px;
    margin-top: -50px;
    text-align: center;
}
.iconBar a, .iconBar img {
    height: 100%;
    cursor: pointer;
}

/* content */

.board-labels {
    position: absolute;
}
.bl-top, .bl-bottom {
    width: 85vmin;
    height: 5vmin;
}
.bl-right, .bl-left{
    width: 5vmin;
    height: 85vmin;
}
.board-labels > div {
    float: left;
    text-align: center;
    font-size: 4vmin;
    color: midnightblue;
}
.bl-top > div, .bl-bottom > div {
    width: 10.625vmin;
    height: 5vmin;
    line-height: 5vmin;
}
.bl-right > div, .bl-left > div {
    width: 5vmin;
    height: 10.625vmin;
    line-height: 10.625vmin;
}

.turnIndicator {
    position: absolute;
    left: 0; top: 0;
    width: 640px;
    height: 640px;
    display: none;
    z-index: 2;
}

#board-container {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: block;
    width: 95vmin;
    height: 95vmin;
    padding: 5vmin;
    z-index: 10;
    background-color: white;
}

#board-anchor {
    position: absolute;
    background: url("/img/board.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 85vmin;
    width: 85vmin;
    z-index: 20;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    z-index: 100;
    display: none;
}

/* modals */

#winmsgGenericYellow, #winmsgGenericBlue, #winmsgMinturnsSuccess, #winmsgMinturnsFailed, #winmsgYielded {
    display: none;
}