#nav {
    position: fixed;
    display: block;
    padding: 10px;
    left: -250px;
    background: rgba(255, 255, 255, .7);
    height: 100%;
    width: 250px;
    z-index: 200;
}

#btn_menu {
    position: absolute;
    right: -65px;
    top: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
}

.nav-container {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.profile-container {
    position: relative;
    margin: 10px auto;
    display: block;

    width: 150px;
    height: 160px;
    padding: 20px;

    background-color: white;
    text-align: center;
}
.profile-container img {
    width: 110px;
    height: 120px;
}

.counter-container {
    position: relative;
    margin: 10px auto;
    display: block;
    width: 125px;
}
.counter-container > img {
    width: 50px;
    height: 50px;
}
.counter-container > input {
    width: 75px;
    height: 50px;
    padding: 5px;
    float: right;
    background-color: white;
    border-radius: 15px;

    font-size: 40px;
    line-height: 1;
    text-align: center;
}

.iconBar {
    top: 50%;
    height: 75px;
    margin-top: -50px;
    text-align: center;
}
.iconBar a, .iconBar img {
    height: 100%;
    cursor: pointer;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    z-index: 100;
    display: none;
}
