#nav {
    position: fixed;
    display: block;
    padding: 10px;
    left: -250px;
    background: rgba(255, 255, 255, .7);
    height: 100%;
    width: 250px;
    z-index: 200;
}

#btn_menu {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
    right: -65px;
    top: 10px;
    background-image: url(../../img/menu.png);
}

.nav-container {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-data {
    height: 40%;
}
.profile-pic {
    position: relative;
    margin: 5% auto;
    display: block;

    height: 40%;
    padding: 5%;
}
.profile-container img {
    width: 80%;
    height: 80%;
}
.counter-container {
    position: relative;
    margin: 2% auto;
    display: block;
    width: 40%;
    height: 10%
}
.counter-container > img {
    max-width: 40%;
    height: 100%;
    text-align: center;
    left: 0;
}
.counter-container > input {
    width: 60%;
    height: 100%;
    padding: 5px;
    float: right;
    background-color: white;
    border-radius: 15px;
    font-size: 150%;
    line-height: 1;
    text-align: center;
    right: 0;
}

.iconBar {
    top: 40%;
    height: 20%;
    text-align: center;
}
.iconBar a, .iconBar img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    z-index: 100;
    display: none;
}
