body {
  height: 100%;
  font-family: "Arial Rounded MT Bold", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  min-width: 1460px;
}

a:active, a:focus{
  ie-dummy: expression(this.hideFocus=true);
  outline: none;
}

/* sidebar */
#wrapper #sidebar-wrapper {
  background: url('/img/muster.png');
  background-size: 20px;
}
.nav-container {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.navicon {
  position: relative;
  margin: 10px auto;
  display: block;
}
.pic {
  width: 150px;
  height: 160px;
  padding: 20px;
  
  background-color: white;
  text-align: center;
}
.pic img {
  width: 110px;
  height: 120px;
}

.counter {
  width: 125px;
}
.counter > img {
  width: 50px;
  height: 50px;
}
.counter > div {
  width: 75px;
  height: 50px;
  padding: 5px;
  float: right;
  background-color: white;
  border-radius: 15px;
  
  font-size: 40px;
  line-height: 1;
  text-align: center;
}
.inDaMiddle {  
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 50%;
  height: 150px;
  margin-top: -75px;
}
.inDaMiddle > img {
  height: 75px;
  margin: 10px auto;
}
.inDaMiddle > span > img {
}
.inDaMiddle > div { 
  height: 40px;
  max-width: 100px;
}
#close {
    transform: scaleX(-1);
    filter: FlipH;
}


/* content */
#sidebar_toggle {
  margin-left: -15px;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  background: url(../../img/menu.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}
#board-container {
  margin: auto;
  width: 640px;
  height: 640px;
  background: url(../../img/board.png);
  padding: 40px;
  box-shadow: 5px 5px 25px #888;
  z-index: 10;
}  
#turnYellow {
  position: absolute;
  left: 0; top: 0;
  width: 640px;
  height: 640px;
  display: none;
  box-shadow: 5px 5px 25px orange;
  z-index: 2;
}
#turnBlue {
  position: absolute;
  left: 0; top: 0;
  width: 640px;
  height: 640px;
  display: none;
  box-shadow: 5px 5px 25px darkblue;
  z-index: 2;
}
#menu {
    position: absolute;
    margin: 20% auto;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    width: 295px;
    padding: 10px;
    z-index: 75;
    
    text-align: center;
  }
    #menu img {
      display: block;
      margin: 0 auto;
    }
    #menu #btn_sp_start { /* Singleplayer */
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    #menu #btn_mp_start { /* Multiplayer_lokal */
      float: left;
      margin-left: 10px;
      width: 80px;
      margin-bottom: 10px;
    }
    #menu #btn_difficulty {
      float: right;
      width: 170px;
      margin-right: 10px;
    }
    #menu #btn_nextLevel {      
      display: none;
    }


/* error */
#errorInfo {
  position: absolute;
  left: 0; right: 0;
  margin: 150px auto;
  width: 500px;
  height: 500px;
  text-align: center;
  
  display: none;
}




/*#nav #counter #chipCounter_value {
  width: 75px;
  height: 50px;
  padding: 5px;
  float: right;
  background-color: white;
  border-radius: 15px;
  
  font-size: 40px;
  line-height: 1;
  text-align: center;
}*/

/*#nav #showHelp {
  box-shadow: 0px 0px 20px orange;
}*/
