<!DOCTYPE html>
<html lang="de">
<head>
    <% include ./partials/head %>
    <title>Fehler</title>
</head>

<body>
    <center>
        <h1>Oh, ein Fehler ist aufgetreten...</h1>
        <h3>Fehlerbeschreibung:</h3>
        <p>
            <%= error %>
        </p>
        <a class="btn btn-info" href="/">Hier geht's zurück zum Menü</a>
    </center>
</body>
</html>