<!DOCTYPE html>
<html lang="de">
<head>
    <% include ./partials/head %>

    <script src="/libs/pixi.js/dist/pixi.min.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/game_engine.js"></script>
    <script src="/js/communication.js"></script>
    <script src="/js/playground.js"></script>
    <title>
        <% if (type == 'SP') { %>
            Singleplayer
        <% } else if (type == 'MP') { %>
            Multiplayer
        <% } else if (type == 'MINI') { %>
            Minischach
        <% } else if (type == 'GLOBAL') {%>
            Globaler Mehrspieler
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/playground.css">
</head>

<body>
<div id="overlay"></div>
<div id="nav">
    <div id="btn_menu" onclick="toggleClick();"></div>

    <div class="nav-container" style="top: 0;">
        <div class="profile-container">
            <img src="/img/profilPicErsatz.bmp">
        </div>
        <div class="counter-container">
            <img src="/img/arrow.png" />
            <input type="number" id="moveCounterP1" class="form-control" disabled style="cursor: default;">
        </div>
        <div class="counter-container">
            <img src="/img/ChipGreen.png">
            <input type="number" id="chipCounterP1" class="form-control" disabled style="cursor: default;">
        </div>
    </div>

    <div class="nav-container iconBar">
        <a href="/">
            <img src="/img/close.png" title="Zur체ck zum Hauptmen체" id="close">
        </a>
        <a onclick="yieldGame();">
            <img src="/img/white_flag.png" title="Spiel aufgeben" id="yield">
        </a>
        <a onclick="undo();">
            <img src="../../img/undo.png" title="Zug r체ckg채ngig" id="showHelp">
        </a>
    </div>

    <% if (type !== 'SP') { %>
    <div class="nav-container" style="bottom: 0;">
        <div class="counter-container">
            <img src="/img/arrow.png" />
            <input type="number" id="moveCounterP2" class="form-control" disabled style="cursor: default;">
        </div>
        <div class="counter-container">
            <img src="/img/ChipGreen.png">
            <input type="number" id="chipCounterP2" class="form-control" disabled style="cursor: default;">
        </div>
        <div class="profile-container">
            <img src="/img/profilPicErsatz.bmp">
        </div>
    </div>
    <% } %>
</div>

<div id="board-container">
    <div id="turnYellow"></div>
    <div id="turnBlue"></div>
    <div id="board-anchor"></div>
</div>

<% include ./partials/modal_start %>
<% include ./partials/modal_finish %>

</body>
</html>