<!DOCTYPE html>
<html lang="de">
<head>
    <% include ./partials/head %>

    <script src="/libs/pixi.js/dist/pixi.min.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/game_engine.js"></script>
    <script src="/js/communication.js"></script>
    <script src="/js/playground.js"></script>
    <title>
        <% if (type == 'SP') { %>
            Singleplayer
        <% } else if (type == 'MP') { %>
            Multiplayer
        <% } else if (type == 'MINI') { %>
            Minischach
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/playground.css">
</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    <div id="sidebar-wrapper">

        <div class="nav-container" style="top: 0;">
            <div class="profile-container">
                <img src="/img/profilPicErsatz.bmp">
            </div>
            <div class="counter-container">
                <img src="/img/arrow.png" />
                <input type="number" id="moveCounterP1" class="form-control" disabled style="cursor: default;">
            </div>
            <div class="counter-container">
                <img src="/img/ChipGreen.png">
                <input type="number" id="chipCounterP1" class="form-control" disabled style="cursor: default;">
            </div>
        </div>

        <div class="nav-container iconBar">
            <a href="/">
                <img src="/img/close.png" title="Zurück zum Hauptmenü" id="close">
            </a>
            <a onclick="yieldGame();">
                <img src="/img/white_flag.png" title="Spiel aufgeben" id="yield">
            </a>
            <!--<a>
              <img src="../../img/help/help.png" title="Hilfe anzeigen" id="showHelp">
            </a> -->
            <!-- <a>
              <img src="../img/remis.png" title="Remis anbieten">
            </a> -->
        </div>

        <% if (type !== 'SP') { %>
            <div class="nav-container" style="bottom: 0;">
                <div class="counter-container">
                    <img src="/img/arrow.png" />
                    <input type="number" id="moveCounterP2" class="form-control" disabled style="cursor: default;">
                </div>
                <div class="counter-container">
                    <img src="/img/ChipGreen.png">
                    <input type="number" id="chipCounterP2" class="form-control" disabled style="cursor: default;">
                </div>
                <div class="profile-container">
                    <img src="/img/profilPicErsatz.bmp">
                </div>
            </div>
        <% } %>

    </div>

    <!-- Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div id="sidebar_toggle" onclick="toggleSidebar();"></div>
            <div id="board-layer-behind">
                <div id="board-anchor"></div>
            </div>

        </div>
    </div>

</div>

<% include ./partials/modal_start %>
<% include ./partials/modal_finish %>
<% include ./partials/modal_yielded %>

</body>
</html>